nav {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button {
  width: 250px;
  margin: 0 .5%;
  font-size: 200%;
  color: #13293d;
  background-color: #fff;
  border: 3px solid #13293d;
}

/* The user's cursor is positioned over the element */
button:hover {
  background-color: hsl(7, 71%, 27%);
  color: #fff;
  cursor: pointer;
}

/* The user is actively pressing down on the element */
button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
button:focus {
  outline: none;
  border-color: #8ac4ff;
}

.someOtherButtons {
  width: 300px;
  padding:10px;
  margin: 0 auto;
  border:1px solid blue;

}
.someOtherButtons a {
  width:200px;
  padding:10px;
  border: 2px solid black;
  display: none;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color:#000;
  margin:10px;
}

.someOtherButtons:hover a{
  display: block;
  background-color: aquamarine;
  color:blue
}

.someOtherButtons a:focus{

  background-color: rgb(194, 0, 146);
  color:yellow
}

.someOtherButtons a:active{

  background-color: rgb(0, 17, 255);
  color:rgb(170, 0, 255)
}


