:root {
  --white: rgb(162, 255, 210);
  --darkblue: #07131e;
  --tan: #e5cab7;
  --border-radius: 20px
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--darkblue);
  color: var(--white);
}

nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--darkblue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--darkblue);
  color: var(--white);
  margin-top: auto;
}

.products {
  flex: 1;
  background-color: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card > header {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
